//colors 
    $purple: #7e57c2;
    $whitePurple: #d1c4e9 ;
    $white:white;
    $backgroundColor:rgb(0, 0, 0);
    $navBarColor:rgba(0, 0, 0, 0.8);
    $darkPurple:#2E0449;
    $darkBlue:#0B1B51;
    $blueBTN:#477FDE;
    $purpleBTN:#8C2E65;
  
    // padding and margin 

    
